/* Main color pallette for website */
:root{
  --orange: #e75719;
  --darkorange: #9c380d;
  --blue: #241aa5;
  --darkblue: #201d43;
  --blueblack: #08052f;
  --silver: #d0d0d0;
}

.container1 {
border: 1px solid black;
justify-content: center;
height:400px;
margin-top: 20px;
font-size: 20px;
}

#team {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

img{
  height: 150px;
  width: 150px;
  padding: 10px;
  
}

.teamNames {
font-weight: bold;
}