/* main color pallette for website */
:root{
  --orange: #e75719;
  --darkorange: #9c380d;
  --blue: #241aa5;
  --darkblue: #201d43;
  --blueblack: #08052f;
  --silver: #d0d0d0;
}

/* Typed.js styling */
#element{
  text-align: center;
  height: 4rem;
  font-weight: 650;
}

/* error modal */
#modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 90px;
  width: 300px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
  color: var(--blueblack);
}

/* reset button */
#reset{
  background-color: var(--orange);
  color: var(--blueblack);
  width: 50%;
  margin: 0 auto;
  cursor: default;
}

/* Main portion of the page */
main{
  display: flex;
  flex-direction: column;
  height: 100%; 
}  

/* Team cards */
#teams{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}

#team-name{
  font-size: 12px;
  height: 100%;
}

.team-logo{
  margin: 0 25px;
}

.team-logo:hover{
  cursor: grab;
}

.team-logo:active{
  cursor: grabbing;
}

.logos{
  height: 60px;
  width: 60px;
}

/* Drag and Drop area */
.dragndrop{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.compare{
  height: 35rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.block{
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* where team cards will be dragged to */
#compare-team1, #compare-team2{
  border: 1px solid red;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* grows team card when dragged into boxes */
#compare-team1 .team-logo .logos, #compare-team2 .team-logo .logos{
  height: 200px;
  width: 200px;  
}

/* increases team name when dragged into boxes */
#compare-team1 #team-name, #compare-team2 #team-name{
  font-size: 3rem;
}

/* winner displayed after comparing */
#winner{
  height: 20%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color:#00be6f;
}

/* stats area for dragged teams */
.team-two, .team-one{
  height: 100%;
  width: 30%;
}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 1150px){
  #element{
    height: 3rem;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .team-logo{
    margin: 0 8px;
  }

  .logos{
    height: 30px;
    width: 30px;
  }

  .compare{
    height: 30rem;
    width: 50%;
    margin: 0 5px;
  }

  #compare-team1 .team-logo .logos, #compare-team2 .team-logo .logos{
    height: 100px;
    width: 100px;  
  }

  #compare-team1 #team-name, #compare-team2 #team-name{
    font-size: 2rem;
  }

  #winner{
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px){
  #element{
    width: 100%;
    font-weight: 650;
    font-size: 1rem;
  }

  #compare-team1 .team-logo .logos, #compare-team2 .team-logo .logos{
    height: 80px;
    width: 80px;  
  }

  #compare-team1 #team-name, #compare-team2 #team-name{
    font-size: 1.5rem;
  }

  #winner{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 680px){
  #compare-team1 .team-logo .logos, #compare-team2 .team-logo .logos{
    height: 60px;
    width: 60px;  
  }

  #compare-team1 #team-name, #compare-team2 #team-name{
    font-size: 1.25rem;
  }

  .team-two h3, .team-one h3{
    font-size: 1.5rem;
  }

  .team-two p, .team-one p{
    font-size: 14px;
  }
}

@media screen and (max-width: 400px){
  .team-logo{
    margin: 0 5px;
  }

  .logos{
    height: 20px;
    width: 20px;
  }

  .team-logo{
    margin: 0 3px;
  }

  #team-name{
    font-size: 10px;
    height: 100%;
  }

  .compare{
    height: 20rem;
    width: 20rem;
  }

  #compare-team1 .team-logo .logos, #compare-team2 .team-logo .logos{
    height: 40px;
    width: 40px;  
  }

  #compare-team1 #team-name, #compare-team2 #team-name{
    font-size: 15px;
  }

  .team-two h3, .team-one h3{
    font-size: 2rem;
    padding: 0 8px
  }

  .team-two p, .team-one p{
    font-size: 15px;
  }

  #winner{
    font-size: 15px;
  }

  .team-one, .team-two{
    width: 100%;
  }

  .dragndrop{
    flex-direction: column;
  }
}